@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
body {
  @apply font-sans;
}

body:has(.modal-open) {
  overflow: hidden;
}

.home-hero {
  background-image: url("/images/svgs/abstract-envelop.svg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

@keyframes dot-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-dot-bounce-1 {
  animation: dot-bounce 1s infinite;
}
.animate-dot-bounce-2 {
  animation: dot-bounce 1s infinite 0.2s;
}
.animate-dot-bounce-3 {
  animation: dot-bounce 1s infinite 0.4s;
}
